* {
  margin: 0px;
  padding: 0px;
  font-family: 'Dosis', sans-serif;
}

body {
  background: rgb(193, 183, 167);
}

h1 {
  font-size: 4vmax;
}

h2 {
  font-size: 3vmax;
  margin: 1vw;
}

dl, p {
  font-size: 1.5vmax;
  margin: 1vw;
}

.navigation-top-box {
  background: rgb(255, 255, 255);
  display: flex;
  justify-content: space-between;
  box-shadow: 0px 0px 100px grey;
  padding: 1vw;
}

.shoppingcart-navigation-box {
  cursor: pointer;
}

.shoppingcart-box {
  position: absolute;
  right: 0;
  width: 30vw;
  height: 40vw;
  overflow-y: scroll;
  box-shadow: 0px 0px 100px grey;
  transition: all 1s ease-out;
  background: rgb(113, 214, 245);
}

.shoppingcart-hidden {
  height: 0;
  overflow: hidden;
}

.container-productoverview {
  /* background: rgb(66, 255, 204); */
  display: flex;
  align-items: center;
  width: 100vw;
  /* height:60vh; */
}

.container-imageoverview {
  /* background: rgb(142, 184, 255); */
  display: flex;
  width: 40vw;
  /* height:60vh; */
}

.addon-image-box {
  /* background: rgb(202, 158, 251); */
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 8vw;
  height: 33vw;
}

.productimage-properties {
  object-fit: cover;
  display: block;
  margin-top: 1vw;
  /* width: 90%;
height: 100%; */
}

.big-productimage {
  width: 32vw;
  height: 32vw;
  opacity: 0;
  position: absolute;
  transition-property: opacity;
  transition-duration: 1s;
}

.mini-productimage {
  width: 6vw;
  height: 6vw;
}

.mini-productimage:hover {
  /* width: 7vw;
  height: 7vw; */
  cursor: pointer;
}

.image-box {
  /* background: rgb(198, 101, 95); */
  width: 32vw;
  height: 33vw;
  position: relative;
}

.choosen-productimage {
  opacity: 1;
}

.choosen-mini-productimage {
  border-left: solid black;
}

.container-textoverview {
  display: flex;
  flex-direction: column;
  width: 60vw;
  height: 32vw;
  margin-top: 1vw;
  margin-left: 1vw;
  /* background: rgb(245, 175, 204); */
}

.feature-box {
  background: rgb(227, 208, 133);
  margin: 1vw;
}

.feature-list {
  /* background: rgb(127, 171, 136); */
}

.shoppingcart-button {
  font-size: 1.5vmax;
  width: 18vw;
  height: 4vw;
  border: none;
  background: rgb(158, 69, 227);
  margin: 2vw;
  margin-left: 1vw;
  /* transition-property: transform;
  transition-property: background-color;
    transition-duration: 1s, 1s; */
  transition: transform 0.3s, background-color 0.3s;
  cursor: pointer;
}

.shoppingcart-button:hover {
  transform: scale(1.02);
  background-color: rgb(255, 122, 0);
}
