* {
  margin: 0px;
  padding: 0px;
  font-family: 'Dosis', sans-serif;
}

body {
  background: rgb(233, 233, 233);
}

h1 {
  font-size: 3vmax;
  margin-left: 1vw;
}

h2 {
  font-size: 2vmax;
  margin: 1vw;
}

dl, p {
  font-size: 1.5vmax;
  margin: 1vw;
}

dl::before {content:"⋅"}

.navigation-top-box {
  background: rgb(255, 255, 255);
  display: flex;
  justify-content: space-between;
  box-shadow: 0px 0px 100px rgb(161, 158, 158);
  /* padding: 1vw; */
}

.shoppingcart-navigation-box {
  cursor: pointer;
}

.shoppingcart-box {
  position: absolute;
  right: 0;
  width: 30vw;
  height: 40vw;
  overflow-y: scroll;
  box-shadow: 0px 0px 100px grey;
  transition: all 1s ease-out;
  background: rgb(255, 255, 255);
}

.shoppingcart-hidden {
  height: 0;
  overflow: hidden;
}

.container-productoverview {
  /* background: rgb(66, 255, 204); */
  display: flex;
  align-items: center;
  width: 100vw;
  margin-top: 3vw;
  /* height:60vh; */
}

.container-imageoverview {
  /* background: rgb(142, 184, 255); */
  display: flex;
  width: 40vw;
  margin-left: 2vw;
  /* height:60vh; */
}

.addon-image-box {
  /* background: rgb(202, 158, 251); */
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 8vw;
  height: 33vw;
}

.productimage-properties {
  object-fit: cover;
  display: block;
  margin-top: 1vw;
  /* width: 90%;
height: 100%; */
}

.big-productimage {
  width: 32vw;
  height: 32vw;
  border-radius: 0.2vw;
  opacity: 0;
  position: absolute;
  transition-property: opacity;
  transition-duration: 1s;
}

.mini-productimage {
  width: 6vw;
  height: 6vw;
  border-radius: 0.2vw;
}

.mini-productimage:hover {
  /* width: 7vw;
  height: 7vw; */
  cursor: pointer;
}

.image-box {
  /* background: rgb(198, 101, 95); */
  width: 32vw;
  height: 33vw;
  position: relative;
}

.choosen-productimage {
  opacity: 1;
}

.choosen-mini-productimage {
  border-left: solid rgb(95, 183, 212);
}

.container-textoverview {
  display: flex;
  flex-direction: column;
  width: 60vw;
  height: 32vw;
  margin-top: 1vw;
  margin-left: 1vw;
  /* background: rgb(245, 175, 204); */
}

.feature-box {
  background: rgb(181, 181, 181);
  margin: 1vw;
  max-width: 20vw;
  border-radius: 0.2vw;
}

.feature-list {
  /* background: rgb(127, 171, 136); */
}

.shoppingcart-button {
  font-size: 1.5vmax;
  width: 13vw;
  height: 2vw;
  border: none;
  background: linear-gradient(to bottom right, rgb(95, 183, 212), rgb(0, 103, 154));
  margin: 1vw;
  border-radius: 5vw;
  /* transition-property: transform;
  transition-property: background-color;
    transition-duration: 1s, 1s; */
  transition: transform 0.3s, background-color 0.3s;
  cursor: pointer;
}

.shoppingcart-button:hover {
  transform: scale(1.02);
  background: linear-gradient(to bottom right, rgb(95, 183, 212),rgb(0, 55, 83));
}

.shoppingcart-button:disabled{
  background: rgb(57, 57, 57);
  color: rgb(102, 102, 102);
  pointer-events:none;
}
